body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
table tr td {
    padding: 15px;
  
  }
  table {
    border-spacing: 20px;
  }
  
  table tr:nth-child(odd) td:nth-child(even) {
    background: hsl(132deg 67% 51%);
    border: 20px solid hsl(19deg 88% 51%); 
    outline: 4px solid hsl(132deg 67% 51%);
    
  }

  table tr:nth-child(even) td:nth-child(odd) {
    background: hsl(132deg 67% 51%);
    border: 20px solid hsl(19deg 88% 51%) ;
    outline: 4px solid hsl(132deg 67% 51%);
  }
  
  table tr:nth-child(odd) td:nth-child(odd) {
    background: hsl(19deg 88% 51%);
    border: 20px solid hsl(132deg 67% 51%);
    outline: 4px solid hsl(19deg 88% 51%);
  }

  table tr:nth-child(even) td:nth-child(even) {
    background: hsl(19deg 88% 51%);
    border: 20px solid hsl(132deg 67% 51%);
    outline: 4px solid hsl(19deg 88% 51%);
  }
  /* table tr:nth-child(odd) td:nth-child(even) {
    background: hsl(132deg 67% 51%);
    border: 4px solid hsl(19deg 88% 51%) ;
  }

  table tr:nth-child(even) td:nth-child(odd) {
    background: hsl(132deg 67% 51%);
    border: 4px solid hsl(19deg 88% 51%) ;
  }
  
  table tr:nth-child(odd) td:nth-child(odd) {
    background: hsl(19deg 88% 51%);
    border: 4px solid hsl(132deg 67% 51%);
  }

  table tr:nth-child(even) td:nth-child(even) {
    background: hsl(19deg 88% 51%);
    border: 4px solid hsl(132deg 67% 51%);
  } */
  
 /* tr:nth-child(odd) td:nth-child(even) {
    border: 4px solid hsl(132deg 67% 51%);
  }
 tr:nth-child(even) td:nth-child(odd) {
    border: 4px solid hsl(132deg 67% 51%);
  }
  
   tr:nth-child(odd) td:nth-child(odd) {
    border: 4px solid hsl(19deg 88% 51%);
  }

  tr:nth-child(even) td:nth-child(even) {
    border: 4px solid hsl(19deg 88% 51%);
  } */
  /* p {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  } */